<div class="dataTableview">

  <p-breadcrumb 
    class="max-w-full" 
    [model]="items" 
    [home]="home" />

  <h4 class="p-m-1">{{rowData.name.first}} {{rowData.name.last}} Datils</h4>




  <div class="p-d-flex p-jc-around tabledatabase">
    <div>
      <p><strong class="p-mr-3">ID:</strong>{{rowData.id}} </p>
      <p><strong class="p-mr-3">Name:</strong> {{rowData.name.first}} {{rowData.name.last}}</p>
      <p><strong class="p-mr-3">Email:</strong> {{rowData.name.email}}</p>
    </div>

    <div class="p-d-flex ">
      <p-avatar [icon]="rowData.vehicles.icon" shape="circle" class="color3" />
      <label class="p-mr-3 p-ml-3 label"> {{rowData.vehicles.type}}</label>
      <p-badge [value]=rowData.location class="ml-auto mr-2" />
    </div>



    <div class="p-d-flex ">
      <img [src]="rowData.image" height="200px" width="200px" alt="">
      <!-- <img src="../../../assets/images/neeraj.jpg" alt=""> -->
    </div>






  </div>


</div>