<!-- <div class="p-grid">
    <div class="p-col-12 card p-sm-3 p-md-6 p-lg-3 p-xl-3 p-p-0 p-d-flex">

        <div *ngFor="let item of items">
            <p-card [ngClass]="getClass(item.rate)" [style]="{ width: '16rem', overflow: 'hidden' }">
                <div class="p-d-flex p-ai-center">
                    <i [ngClass]='item.icon ' class="cardicons p-mr-2"></i>
                    <h4 class="p-m-0">{{item.label}}</h4>
                </div>
                <div>
                    <p>{{item.value}}</p>
                    <div class="p-d-flex">
                        <label for="">{{item.rate}}%</label>
                        <label for="">{{item.latestDate}}</label>
    
                    </div>
                </div>
            </p-card>
    
        </div>
    </div>
</div> -->

<div class="p-grid card">
    <div *ngFor="let item of items" class="p-col-12 p-sm-3 p-md-6 p-lg-3 p-xl-3 p-p-0 p-d-flex p-mb-2">
        <p-card [ngClass]="getClass(item.rate)" [style]="{ width: '16rem', overflow: 'hidden' }">
            <div class="p-d-flex p-ai-center">
                <i [ngClass]="item.icon" class="cardicons p-mr-2"></i>
                <h4 class="p-m-0">{{ item.label }}</h4>
            </div>
            <div>
                <p class="information">{{ item.value }}</p>
                <div class="p-d-flex">
                    <strong>{{ item.rate }}%</strong>
                    <label>{{ item.latestDate }}</label>
                </div>
            </div>
        </p-card>
    </div>
</div>

<div class="overviewdiv">
    <p-card>
        <ng-template pTemplate="header">
            <div class="p-d-flex p-jc-between ">
                <h3 class="p-m-0"> <img src="../../../assets/images/logo1.png" alt="" height="24px" width="24px">
                    Vehicles Overview</h3>
                <img src="../../../assets/images/logo1.png" alt="" height="24px" width="24px">
            </div>
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">

            </div>
        </ng-template>
    </p-card>
</div>


<div class="p-grid p-d-flex ">
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6  p-pr-2 p-pt-0 p-pl-0 p-pb-0 p-mb-3 ">
        <p-card>
            <div class="p-d-flex p-ai-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, similique consectetur? Est voluptates
                corporis doloremque dolorem maiores corrupti quas dolores accusamus. Eaque totam repellendus nostrum
                neque. Nesciunt perferendis laudantium ea!
            </div>

        </p-card>
    </div>
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-6 p-xl-6 p-p-0 ">
        <p-card>
            <div class="p-d-flex p-ai-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, similique consectetur? Est voluptates
                corporis doloremque dolorem maiores corrupti quas dolores accusamus. Eaque totam repellendus nostrum
                neque. Nesciunt perferendis laudantium ea!
            </div>

        </p-card>
    </div>
</div>




<div class="datatable">
    <p-table [value]="customer" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex ">
                <h3 class="p-d-flex p-ai-center p-m-0"> <img src="../../../assets/images/logo1.png" alt=""
                        height="24px" width="24px" class="p-mr-2">On route vehicles</h3>

            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>vehicles</th>
                <th>Location ID</th>
                <th>Start_city</th>
                <th>End_city</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Country</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.id}}</td>
                <td><p-avatar [icon]="customer.vehicles.icon" shape="circle" class="p-mr-2">
                    </p-avatar><strong>{{customer.vehicles.type }}</strong></td>
                <td>{{customer.location}}</td>
                <td>{{customer.start_city}}</td>
                <td>{{customer.end_city}}</td>
                <td> <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)" /> </td>
                <td> <p-progressBar [value]="customer.progress" [showValue]="true"></p-progressBar></td>
                <td>{{customer.start_country}}</td>
            </tr>
        </ng-template>
    </p-table>

   </div>