<div class="zoomable" [ngStyle]="{'transform': 'scale(' + scale + ')'}">
    <h1>Zoomable Content</h1>
    <p>Scroll down to zoom out, scroll up to zoom in.</p>
            <div class="p-d-flex">
                <img src="../../../assets/images/logo1.png" alt="" height="40px" width="40px">
                <img src="../../../assets/images/logo1.png" alt="" height="40px" width="40px">

            </div>

            <div class="p-d-flex">
                <img src="../../../assets/images/logo1.png" alt="" height="40px" width="40px">
                <img src="../../../assets/images/logo1.png" alt="" height="40px" width="40px">

            </div>
  </div>



