<div class="zoomable" [ngStyle]="{'transform': 'scale(' + scale + ')'}">
    <h1>Zoomable Content</h1>
    <p>Scroll down to zoom out, scroll up to zoom in.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit labore deserunt incidunt ullam ad nulla consequatur nam. Natus fugiat velit, quos ipsam sapiente nulla cum aliquam quibusdam! Pariatur, facere fugit.
   Reiciendis vitae alias explicabo labore, dolore quo rem tenetur eius aspernatur debitis eligendi temporibus molestias vero voluptas voluptatibus quis ab nisi quaerat beatae cum iusto accusantium deleniti architecto. Eligendi, eaque.
   Saepe totam recusandae error fuga facilis modi quos consequuntur aliquam minima dolorum id, dolorem voluptatibus officiis quibusdam perferendis tempore. Dolor consequuntur nihil labore iusto cum totam commodi perspiciatis iure sequi?
   Repellendus illum est error natus nisi! Illum molestiae eligendi temporibus maiores officia id rem, corrupti a laboriosam delectus repudiandae,
    fugit, fuga modi. Adipisci dolorem molestias ducimus, natus cum atque officia!
   Dolorem dolorum dolor rerum praesentium qui. Expedita rem consequatur quod beatae corporis pariatur nam ratione magnam minus obcaecati fugiat repellat laudantium, cum tempore soluta vitae itaque nemo incidunt. Temporibus, quam.
   Repudiandae consequuntur accusantium sunt quasi dicta iure voluptatum a eveniet id beatae excepturi, facere eius sit voluptate error ea vero laboriosam quos! Dicta voluptates consequatur sed, suscipit facere saepe maiores.
   Ut quod maiores molestiae eveniet, nulla id suscipit rem veritatis aliquam repudiandae consequatur nesciunt similique debitis! Quisquam veniam nisi repellendus delectus vel fuga dicta velit, explicabo quibusdam! Sed, est debitis!
   Culpa in quae unde cum. Totam nisi aliquid quam omnis deserunt error earum maiores aut molestiae repellendus. Impedit aperiam culpa soluta corrupti nihil quam. Facilis eius quasi ad. Esse, veritatis.
   Eum cumque similique, ipsam voluptate enim est eius aut ex. Dolorem ea distinctio incidunt repellendus cupiditate, aut eligendi doloribus nobis, veniam magnam quisquam enim quasi! Ipsa nisi qui necessitatibus quam?
   Cumque earum cupiditate nihil! Perferendis, porro numquam deserunt eaque at fuga beatae eligendi ipsum molestias quae exercitationem officia vitae dicta dolores. Ipsa, officiis fuga ex porro obcaecati excepturi adipisci consequuntur?</p>
  </div>



