.p-grid {
    margin: 0px;
}

body {
    font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.p-component {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

:root {
    --blue-500: #9188f4;
    --org-500: #f8e535;
    --green-500: #066303;
}

.label {
    font-size: 14px;
    margin-left: 8px;
    color: #acaab1;

}

.span {
    font-size: 14px;
    margin-left: 8px;
    color: #2d2c2e;

}

.color1 {
        color: rgb(247, 0, 0) !important;

    &>div {
        background-color: #e9ac9e !important;
        color: rgb(247, 0, 0) !important;
    }
}

.color2 {
   
    color: rgb(15, 90, 0) !important;
    &>div {
        background-color: #8bfda075 !important;
        color: rgb(15, 90, 0) !important;
    }
}

.color3 {
    color: rgb(0, 26, 255) !important;

    &>div {
        background-color: #899df7c5 !important;
        color: rgb(0, 26, 255) !important;
    }
}

.color4 {
    
    color: rgb(17 120 153) !important;
    &>div {
        background-color: rgb(133 228 248 / 43%) !important;
        color: rgb(17 120 153) !important;
    }
}

.color5 {
    
    color: rgb(1, 23, 119) !important;
    &>div {
        background-color: #8781c2d0 !important;
        color: rgb(1, 23, 119) !important;
    }
}


.leftlayout {
    box-shadow: 9px 3px 5px #efe4e4;
    z-index: 98;

    .sidebarmenu {
        box-shadow: 0 .125rem .5rem 0 rgba(47, 43, 61, .12);
        height: 92vh;
        touch-action: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgb(199 41 41 / 0%);
        background: #ffff;
        // position: fixed;
        // z-index: 99999;



        &.expend {
            width: 14.50rem;
            transition: width 1s;

            .imglogo1 {
                width: 150px;
                transition: width 1s;
            }


        }

        &.close {
            width: 5rem;
            transition: width 1s;

            .imglogo {}

            .imglogo1 {
                // display: none;
                width: 0px;
                transition: width 1s;
            }


            .p-panelmenu {
                .p-panelmenu-panel {
                    .p-panelmenu-header {
                        .p-panelmenu-header-content {
                            padding: 0px;

                            .p-panelmenu-header-action {
                                padding: 10px 24px;

                                .p-menuitem-text {
                                    display: none;
                                    transition: 1s;
                                }

                                .p-icon-wrapper {
                                    display: none;
                                }

                                &.p-menuitem-link-active {
                                    background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
                                    box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, .3);
                                    border-left: 2px solid #2e599e;
                                    color: #ffffff;
                                    border-radius: 20px;
                                    width: 102%;

                                }
                            }


                        }
                    }

                    .p-panelmenu-content {
                        display: none;
                        transition: 1s;
                    }
                }
            }
        }


        .app-brand {
            display: flex;
            justify-content: space-around;
            padding: 8px 16px;
            align-items: center;

            .pi {
                border: 1px solid #ebf3fe;
                border-radius: 50%;
                padding: 2px;

                &:hover {
                    border: 1px solid rgb(88, 64, 64);
                    background: #ebf3fe;
                }
            }
        }

        .p-panelmenu {
            border: none;
            border-radius: 0px;
            background: transparent;
            box-shadow: none;

            .p-panelmenu-panel {
                &:hover {
                    // background: #ebf3fe;
                    background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
                    box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, .3);
                    border-radius: 20px;

                    .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
                        .p-icon-wrapper {
                            .p-icon.p-submenu-icon {
                                color: #ffffff;
                            }
                        }

                        .p-menuitem-icon {
                            color: #fafcff;

                        }

                        .p-menuitem-text {
                            color: #fdfeff;
                        }
                    }
                }

                .p-panelmenu-header {
                    .p-panelmenu-header-content {
                        border: none;
                        background: transparent;
                        width: auto;
                        max-width: max-content;
                        // padding: 10px 24px;

                        .p-panelmenu-header-action {
                            // padding: 0px;
                            font-weight: 500;

                            padding: 10px 24px;

                            &.p-menuitem-link-active {
                                background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
                                box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, .3);
                                border-left: 2px solid #2e599e;
                                color: #ffffff;
                                border-radius: 20px;
                                width: 230px;

                            }

                            .p-menuitem-icon {
                                color: #0c0c0c;

                            }

                            .p-menuitem-text {
                                color: #0c0c0c;
                            }

                            .p-icon-wrapper {
                                position: unset;
                                transform: translate(198px);
                                transition: transform 1s;
                                background: transparent;
                                border: none;

                                .p-icon.p-submenu-icon {
                                    color: #0c0c0c;
                                    position: absolute;
                                    top: -8px;
                                    left: -10px;
                                }
                            }


                            &:hover {
                                .p-menuitem-icon {
                                    color: #fcfdff;

                                }

                                .p-menuitem-text {
                                    color: #ffffff;
                                }

                            }
                        }

                        &:hover {
                            background: linear-gradient(270deg, rgba(114, 103, 240, 0.055) 0%, #7267f023 100%);
                            color: #ffffff;

                            .p-menuitem-icon {
                                color: #ffffff;

                            }

                            .p-menuitem-text {
                                color: #ffffff;
                            }

                        }

                    }




                }

                // toggleable-content
                .p-toggleable-content {
                    .p-panelmenu-content {
                        background: #ffffff;
                        border: none;

                        .p-submenu-list.p-panelmenu-root-list {

                            .p-menuitem {
                                .p-menuitem-content {
                                    color: #0c0c0c;
                                    transition: background-color 0.2s, box-shadow 0.2s;
                                    border-radius: 0;

                                    .p-menuitem-link {
                                        color: #0c0c0c;
                                        padding: 8px 24px;
                                        font-size: 14px;
                                        line-height: 22px;
                                        font-weight: 400;
                                        user-select: none;

                                        .p-icon-wrapper {
                                            .p-icon.p-submenu-icon {
                                                color: #0c0c0c;
                                            }
                                        }


                                        .p-menuitem-icon {
                                            color: #0c0c0c;
                                        }

                                        .p-menuitem-text {
                                            color: #0c0c0c;
                                            font-size: 14px;
                                            line-height: 22px;
                                            font-weight: 400;
                                        }
                                    }
                                }

                            }

                        }

                        .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover {
                            // background: #ebf3fe;
                            background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
                            box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, .3);
                            color: #ffffff;
                            transition: background-color 0.2s, box-shadow 0.2s;
                            border-radius: 20px;

                            .p-menuitem-link {
                                color: #2e599e;
                                padding: 8px 24px;
                                user-select: none;

                                .p-icon-wrapper {
                                    .p-icon.p-submenu-icon {
                                        color: #ffffff;
                                        // margin-left: 4px;
                                    }
                                }

                                .p-menuitem-icon {
                                    color: #ffffff;
                                }

                                .p-menuitem-text {
                                    color: #ffffff;
                                }
                            }

                        }

                    }
                }

            }
        }
    }

}

.rightlayout {
    padding-left: 1.25rem;
    background: #f6f5f8;
    height: 92vh;
    width: 100%;
    position: relative;
    overflow: auto;


    .topbar {
        box-shadow: 0px -16px 20px #e3e3e3;
        margin-top: 24px;
        position: sticky;
        top: 14px;
        z-index: 99;
        margin: 0px 8px;
        background: #f6f5f8;
        border-radius: 10px;

        .p-menubar {
            .p-menubar-root-list {
                .p-menuitem {
                    .p-menuitem-content {
                        .p-menuitem-link {
                            &.p-menuitem-link-active {
                                background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
                                box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.3);
                                border-left: 2px solid #2e599e;
                                color: #ffffff;
                                border-radius: 20px;
                                box-shadow: none;

                                &:hover {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .routedcomponents {
        margin-top: 16px;

        .card {
            .p-card {
                margin-right: 16px;

                .p-card-header {
                    label {
                        font-size: 14px;
                        margin-left: 8px;
                        color: #acaab1;
                    }

                }


                .p-card-body {
                    padding: 0px 16px;
                    transition: all .2s ease-in-out;
                    box-shadow: 0 .1875rem .75rem 0 rgba(47, 43, 61, .14);

                    .information {
                        font-size: 16px;
                        font-weight: 500;
                        color: #716f76;
                    }

                    label {
                        font-size: 14px;
                        margin-left: 8px;
                        color: #acaab1;
                    }
                }
            }

            .low {

                .p-card .p-card-body {
                    border-bottom: 1px solid lightgreen;

                    .p-card-content {
                        .cardicons {
                            height: 40px;
                            width: 40px;
                            border-radius: 4px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: lightgreen;
                        }
                    }

                    &:hover {
                        border-bottom: 6px solid lightgreen;
                        transition: 1s;
                    }
                }

            }

            .medium {

                .p-card .p-card-body {
                    border-bottom: 1px solid #e3e3a8;

                    .p-card-content {
                        .cardicons {
                            height: 40px;
                            width: 40px;
                            border-radius: 4px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #e3e3a8;
                        }
                    }

                    &:hover {
                        border-bottom: 6px solid #e3e3a8;
                        transition: 1s;
                    }
                }
            }

            .normal {

                .p-card .p-card-body {
                    border-bottom: 1px solid lightcoral;

                    .p-card-content {
                        .cardicons {
                            height: 40px;
                            width: 40px;
                            border-radius: 4px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: lightcoral;
                        }
                    }

                    &:hover {
                        border-bottom: 6px solid lightcoral;
                        transition: 1s;
                    }
                }

            }

            .full {
                .p-card .p-card-body {
                    border-bottom: 1px solid lightblue;

                    .p-card-content {
                        .cardicons {
                            height: 40px;
                            width: 40px;
                            border-radius: 4px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: lightblue;
                        }
                    }

                    &:hover {
                        border-bottom: 6px solid lightblue;
                        transition: 1s;
                    }
                }

            }


        }

        .overviewdiv {
            margin-bottom: 16px;

            .p-card {
                padding: 16px;

                .p-card-header {
                    img {
                        width: auto;
                    }

                }

                .p-card-body {
                    .p-card-content {
                        .meaterGroup {
                            &.p-metergroup.p-metergroup-horizontal {
                                .p-metergroup-labels.p-metergroup-labels-horizontal {
                                    gap: 10%;
                                    color: #6d6b77;
                                    font-size: 15px;
                                }

                                .p-metergroup-meters {
                                    height: 2rem;
                                }
                            }

                        }

                        .p-datatable {
                            .p-datatable-header {
                                border-radius: 16px 16px 0px 0px;
                            }

                            .p-datatable-wrapper {

                                .p-datatable-table {

                                    .p-datatable-tbody {
                                        tr {
                                            td {
                                                    

                                                    &>div {
                                                        display: flex;
                                                        align-items: center;

                                                        .pi {
                                                            font-size: 18px;
                                                        }
                                                    }

                                                    .tdvlaue {
                                                        color: #444050b3;
                                                        font-size: 14px;
                                                        font-weight: 500;
                                                        font-family: revert;
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }


                            }
                        }
                    }

                    // .p-card-footer {
                    //     padding: 0px;
                    // }


                }



            }






        }
    }

    .datatable {
        background: #ffffff;
        padding: 0px;
        border-radius: 16px 16px 6px 6px;
        box-shadow: 0px 4px 10px -2px #6b6969;

        .p-datatable {
            .p-datatable-header {
                border-radius: 16px 16px 0px 0px;
            }

            .p-datatable-wrapper {

                .p-datatable-table {
                    .p-datatable-thead {
                        tr {
                            th {
                                text-align: left;
                                padding: 10px;
                                border: 1px solid #a7a8aa;
                                border-width: 0 0 1px 0;
                                font-weight: 600;
                                color: #374151;
                                background: #e0e2e5;
                                transition: box-shadow 0.2s;
                            }
                        }
                    }

                    .p-datatable-tbody {
                        tr {
                            td {
                                text-align: left;
                                border: 1px solid #e6e6e8;
                                border-width: 0 0 1px 0;
                                padding: 8px;
                                color: #6d6b77;

                                strong {
                                    color: #444050;
                                    font-weight: 600;
                                    cursor: pointer;

                                    &:hover {
                                        color: #2e599e;
                                    }
                                }

                                .p-avatar {
                                    .p-avatar-text {
                                        line-height: 0px;
                                    }
                                }

                                .p-tag {
                                    padding: 2px 6px;

                                    &.p-tag-success {
                                        background-color: #78f7a7;
                                        color: #207624;
                                    }

                                    &.p-tag-warning {
                                        background-color: #edac7f;
                                        color: #b14b05;
                                    }

                                    &.p-tag.p-tag-danger {
                                        background-color: #f18a8a;
                                        color: #db0101;
                                    }
                                }

                                .p-progressbar {
                                    border-radius: 12px;
                                    height: 12px;

                                    .p-progressbar-value {
                                        .p-progressbar-label {
                                            line-height: 0px;
                                            color: #0c0c0c;
                                            font-size: 10px;
                                        }
                                    }
                                }

                            }
                        }
                    }

                }
            }

            .p-paginator-bottom.p-paginator {
                border-radius: 0px 0px 10px 10px;

                .p-paginator-element.p-link {
                    min-width: 2rem;
                    height: 2rem;
                }

                .p-paginator-pages {
                    .p-paginator-page.p-link {
                        min-width: 2rem;
                        height: 2rem;
                    }
                }

            }

            .p-paginator-rpp-options.p-dropdown {
                height: 2rem;

                .p-dropdown-label.p-inputtext {
                    padding: 6px 8px;
                }

            }

        }
    }

    .dataTableview{
        background: #ffffff;
        border-radius: 4px;
        box-shadow: whitesmoke;
        padding: 10px 24px;

        .tabledatabase{
            border: 2px solid rgb(148, 145, 145);
            border-radius: 8px;
            padding: 10px;

            img{
                border: 2px solid rgb(148, 145, 145);
                border-radius: 8px;
                transition: 3s;
                &:hover{
                    cursor: pointer;
                    transform: skew(10deg, 6deg);
                    transition: 3s;
                    filter: grayscale(100%)
                }

               
            }
        }
        .p-breadcrumb{
            padding: 8px;
            border: none;
            .p-breadcrumb-list{
                .p-menuitem-link{
                    cursor: pointer;
                }
            }
        }
    }





    // scroll

    .zoomable {
        transition: transform 0.2s;
        /* Smooth zoom transition */
        overflow: hidden;
        width: 100%;
        // height: 100vh; /* Full viewport height */
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        padding-left: 1.25rem;

        img {
            margin: 10px;
            border: 2px solid #2e599e;
        }
    }